{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Гра "Вгадай число"</h1>
    <p>Кількість залишених спроб: <strong>{{ attempts_left }}</strong></p>
    {% if hint %}
        <div class="alert alert-info">
            <p>Підказка: <strong>{{ hint }}</strong></p>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="number" name="guess" placeholder="Ваше число" required>
        <button type="submit" class="btn btn-primary">Спробувати</button>
    </form>

    
</div>
{% endblock %}
